<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block style %}{% endblock %}
    <title>email</title>
</head>
<body>
{% block body %}{% endblock %}
<div style="text-align: center; font-size: 16px;">
    <p>
        BraPedia.com | &copy; 2022 todos os direitos reservados
    </p>
</div>
</body>
</html>
